{% extends "app/base.html" %}
{% load widget_tweaks %}
{% block content %}

<div class="card card-booking my-5 mx-auto">
    <div class="card-body">
        <h5 class="card-title text-center">予約内容</h5>

        <table class="booking_table mb-4">
            <tbody>
                <tr>
                    <th class="header">ご予約日時</th>
                    <td class="data" style="text-align:center; font-size: 18px;">
                        {{ year }}年{{ month }}月{{ day }}日&nbsp;&nbsp;&nbsp;&nbsp;{{ hour }}時から
                    </td>
                </tr>
            </tbody>
        </table>
        <h5 class="card text-center">予約情報</h5>
        <form method="POST">
            {% csrf_token %}
            <table class="booking_table mb-4">
                <tbody>
                    <tr>
                        <th class="header">大人予約人数</th>
                        <td class="data">
                            {% render_field form.adlutnum class="form-control" placeholder="大人予約人数" %}
                        </td>
                    </tr>
                    <tr>
                        <th class="header">子供予約人数</th>
                        <td class="data">
                            {% render_field form.childnum class="form-control" placeholder="子供予約人数" %}
                            1回のご予約で、大人、子供の合計で3名様まで可能です。
                        </td>
                    </tr>
                </tbody>
            </table>
            {{form.non_field_errors}}
            <div class="button mx-auto">
                <button class="btn btn-lg btn-warning btn-block" type="submit">予約確定</button>
            </div>
        </form>
    </div>
</div>

{% endblock %}