{% extends "app/base.html" %}
{% block content %}


<div class="text-center">
    <br>

            <div class="card">
                <div class="card-body px-2 py-1">
                    <div class="p-4 text-left">
                        <h3>ご予約状況</h3>


                        <hr>

                        <table class="table">
                            <thead class="thead-light">
                                <tr>
                                    <th>ご予約時間</th>
                                    <th>大人予約数</th>
                                    <th>子供予約数</th>
                                    <th>予約状況</th>
                                    <th></th>


                                </tr>
                            </thead>
                            <tbody>
                                {% for booking in booking_data %}
                                {% if booking %}
                                <tr>
                                    <td style="vertical-align: middle;">{{ booking.start }}</td>
                                    <td style="vertical-align: middle;">{{ booking.adlutnum }}</td>
                                    <td style="vertical-align: middle;">{{ booking.childnum }}</td>
                                    <td style="vertical-align: middle;">{% if booking.active == True %}
                                        ご予約中
                                        {% else %}
                                        キャンセル済
                                        {% endif %}
                                    </td>
                                    <td>
                                        <form method="POST" action="{% url 'reserves_deleter' booking.start.year booking.start.month booking.start.day booking.start.hour %}">
                                            {% csrf_token %}
                                            <input type="hidden" name="id" value={{booking.id}}>

                                            <button class="btn btn-danger" type="submit">予約取消</button>
                                        </form>
                                    </td>

                                </tr>
                                {% else %}
                                <tr><td colspan="4">現在ご予約はございません。</td></tr>
                                {% endif %}
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>


</div>


{% endblock %}