{% extends "app/base.html" %}
{% load widget_tweaks %}
{% block content %}

<div class="card card-auth my-5 mx-auto">
    <div class="card-body">
        <h5 class="card-title text-center">新規登録画面</h5>

        
        <form method="post" class="form-auth">
            {% csrf_token %}
            <div class="form-label-group form_wrap">
                {% render_field form.name calss="form-control" placeholder="名前" %}
            </div>
            <div class="form-label-group form_wrap">
                {% render_field form.address calss="form-control" placeholder="住所" %}
            </div>
            <div class="form-label-group form_wrap">
                {% render_field form.tel calss="form-control" placeholder="電話番号" %}
            </div>
            <div class="form-label-group form_wrap">
                {% render_field form.gender calss="form-control" placeholder="性別" %}
            </div>

            <div class="form-label-group form_wrap">
                {% render_field form.email calss="form-control" placeholder="メールアドレス" %}
            </div><br>
            <div class="form-label-group form_wrap">
                {% render_field form.password1 calss="form-control" placeholder="パスワード" %}
                {% render_field form.password2 calss="form-control" placeholder="パスワード（確認）" %}
            </div>
            <div class="button mx-auto">
                <button class="btn btn-lg btn-primary btn-block mx-auto" type="submit">登録する</button>
            </div>

        </form>
    </div>
</div>

{% endblock %}